Source: ibsim
Section: net
Priority: extra
Maintainer: Alex Netes <alexne@voltaire.com>
Build-Depends: debhelper (>= 8.0.0), libibumad-devel, libibmad-devel
Standards-Version: 0.5
Homepage: http://openfabrics.org/downloads/management

Package: ibsim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: InfiniBand fabric simulator for management
 ibsim provides simulation of infiniband fabric for using with OFA OpenSM, 
 diagnostic and management tools.

Package: ibsim-doc
Architecture: all
Description: documentation for ibsim
 Documentation for ibsim
