Makefile.in
Makefile
.deps
.libs
*~

/config.log
/config.status
/configure
/autom4te.cache
/aclocal.m4
/tags

/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing
/test-driver

/common/knem_config.h.in

/build*
